<tui-island>
  <div tuiGroup class="group tui-form__row">
    <div>
      <tui-input [(ngModel)]="name"> Название </tui-input>
      <tui-error formControlName="title" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <button tuiButton class="tui-form__button" (click)="updateService()" appearance="primary">Обновить</button>
  </div>
  <table tuiTable class="tui-form__row" [style.width.%]="100" [columns]="columnsServices">
    <thead>
      <tr tuiThGroup>
        <th *tuiHead="'action-1'" tuiTh [sorter]="null"></th>
        <th *tuiHead="'station'" tuiTh [style.width.rem]="100">Станция</th>
        <th *tuiHead="'duration'" tuiTh>Длительность</th>
        <th *tuiHead="'bonusPercentage'" tuiTh>Процент бонусов</th>
        <th *tuiHead="'price'" tuiTh>Цена</th>
        <th *tuiHead="'discount'" tuiTh>Скидка</th>
        <th *tuiHead="'action-2'" tuiTh [sorter]="null"></th>
      </tr>
    </thead>
    <tbody *tuiLet="services | tuiTableSort as servicesSort" tuiTbody [data]="servicesSort">
      <tr tuiTr>
        <td *tuiCell="'action-1'" tuiTd></td>
        <td *tuiCell="'station'" tuiTd>
          <tui-combo-box
            *tuiLet="listStation$ | async as listStation"
            class="b-form"
            [(ngModel)]="station"
            [stringify]="stationStringify">
            Выбрать станцию
            <input tuiTextfield placeholder="Поиск по названию" />
            <tui-data-list-wrapper
              *tuiDataList
              [itemContent]="stationStringify | tuiStringifyContent"
              [items]="listStation | tuiFilterByInputWith : stationStringify"></tui-data-list-wrapper>
          </tui-combo-box>
        </td>
        <td *tuiCell="'duration'" tuiTd>
          <tui-input-number [(ngModel)]="duration"></tui-input-number>
        </td>
        <td *tuiCell="'bonusPercentage'" tuiTd>
          <tui-input-number [(ngModel)]="bonusPercentage"></tui-input-number>
        </td>
        <td *tuiCell="'price'" tuiTd>
          <tui-input-number [(ngModel)]="price"></tui-input-number>
        </td>
        <td *tuiCell="'discount'" tuiTd>
          <tui-input-number [(ngModel)]="discount"></tui-input-number>
        </td>
        <td *tuiCell="'action-2'" tuiTd>
          <button
            tuiIconButton
            appearance="flat"
            size="s"
            icon="tuiIconPlus"
            shape="rounded"
            (click)="addService()"></button>
        </td>
      </tr>
      <tr *ngFor="let service of services; let i = index" tuiTr>
        <td *tuiCell="'action-1'" tuiTd>
          <button
            tuiIconButton
            appearance="flat"
            size="s"
            [icon]="service.visible ? 'tuiIconEye' : 'tuiIconEyeOff'"
            shape="rounded"
            (click)="setVisibleService(i)"></button>
        </td>
        <td *tuiCell="'station'" tuiTd>{{ service.stationName }}</td>
        <td *tuiCell="'duration'" tuiTd>
          <tui-input-number [(ngModel)]="service.duration"></tui-input-number>
        </td>
        <td *tuiCell="'bonusPercentage'" tuiTd>
          <tui-input-number [(ngModel)]="service.bonusPercentage"></tui-input-number>
        </td>
        <td *tuiCell="'price'" tuiTd>
          <tui-input-number [(ngModel)]="service.price"></tui-input-number>
        </td>
        <td *tuiCell="'discount'" tuiTd>
          <tui-input-number [(ngModel)]="service.discount"></tui-input-number>
        </td>
        <td *tuiCell="'action-2'" tuiTd>
          <button
            tuiIconButton
            appearance="flat"
            size="s"
            icon="tuiIconTrash"
            shape="rounded"
            (click)="removeService(service.stationId, service.id)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="tui-form__buttons">
    <button tuiButton type="button" appearance="primary" size="xs" class="tui-form__button" (click)="updateServices()">
      Обновить
    </button>
  </div>
  <div class="tui-form__buttons tui-form__buttons_align_end">
    <button class="tui-form__button" tuiButton size="s" (click)="removeServiceClass()" appearance="accent">
      Удалить
    </button>
  </div>
</tui-island>
