<div class="tui-form__row tui-form__row_multi-fields">
  <div class="tui-form__multi-field">
    <tui-input [(ngModel)]="email">
      Электронная почта
      <input tuiTextfield type="email" />
    </tui-input>
  </div>
  <div class="tui-form__multi-field">
    <tui-input-password [(ngModel)]="password"> Пароль </tui-input-password>
  </div>
</div>

<tui-error [error]="computedError"></tui-error>
<div class="tui-form__buttons">
  <button tuiButton class="tui-form__button" type="submit" appearance="primary" (click)="login()">Войти</button>
  <button tuiButton class="tui-form__button" type="submit" appearance="primary" (click)="refreshPassword()">
    Забыли пароль?
  </button>
</div>
