<form class="b-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <div class="tui-form__row">
    <tui-input formControlName="email">
      Email
      <input tuiTextfield type="email" />
    </tui-input>
  </div>
  <div class="tui-form__row">
    <tui-input-password formControlName="password"> Пароль </tui-input-password>
  </div>

  <tui-error [error]="computedError"></tui-error>
  <div class="tui-form__buttons">
    <button
      tuiButton
      class="tui-form__button"
      type="submit"
      appearance="primary">
      Войти
    </button>
  </div>
</form>
