<app-create-news></app-create-news>

<div
  tuiGroup
  class="tui-form__row tui-space_bottom-5"
  [adaptive]="true"
  [collapsed]="true">
  <tui-input
    class="input"
    tuiTextfieldSize="m"
    [tuiTextfieldCleaner]="true"
    [ngModel]="search$ | async"
    (ngModelChange)="search$.next($event)">
    Поиск
  </tui-input>
</div>

<tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
  <table
    *ngIf="data$ | async as data"
    tuiTable
    class="table"
    [columns]="columns"
    [tuiSortBy]="sorter$ | async"
    (tuiSortByChange)="sorter$.next($event!)"
    [direction]="(direction$ | async) || 1"
    (directionChange)="direction$.next($event)">
    <thead>
      <tr tuiThGroup>
        <th tuiTh *tuiHead="'title'" tuiSortable>Название</th>
      </tr>
    </thead>
    <tbody
      tuiTbody
      *tuiLet="data | tuiTableSort as sortedData"
      [data]="sortedData">
      <tr tuiTr *ngFor="let item of sortedData">
        <td tuiTd *tuiCell="'title'">
          <a tuiLink [routerLink]="['/news/edit', item.id]">
            {{ item.title }}
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="columns.length">
          <tui-pagination
            class="tui-space_top-5"
            [length]="(total$ | async) || 0"
            [index]="page$.value"
            (indexChange)="page$.next($event)"></tui-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</tui-loader>
