<h3 class="tui-form__header">Смена электронной почты</h3>
<div class="tui-form__row">
  <tui-input [formControl]="emailControl">
    Электронная почта
    <input tuiTextfield type="email" />
  </tui-input>
  <tui-error [formControl]="emailControl" [error]="[] | tuiFieldError | async"></tui-error>
</div>
<div class="tui-form__buttons">
  <button tuiButton class="tui-form__button" appearance="primary" (click)="changeEmail()">Подтвердить</button>
</div>

<h3 class="tui-form__header">Смена пароля</h3>
<div class="tui-form__row">
  <tui-input-password [(ngModel)]="oldPassword"> Старый пароль </tui-input-password>
</div>
<div class="tui-form__row tui-form__row_multi-fields">
  <div class="tui-form__multi-field">
    <tui-input-password [(ngModel)]="newPassword"> Новый пароль </tui-input-password>
  </div>
  <div class="tui-form__multi-field">
    <tui-input-password [(ngModel)]="repeatPassword"> Повтор нового пароля </tui-input-password>
  </div>
</div>
<tui-error [error]="passwordError"></tui-error>
<div class="tui-form__buttons">
  <button tuiButton class="tui-form__button" appearance="primary" (click)="changePassword()">Сохранить</button>
</div>
