<section class="nav-panel">
  <div class="header-menu">
    <h3>Приветствую, "имя автомойки"!</h3>
    <h3>Ваш баланс: <tui-money [value]="10728.9"></tui-money></h3>
    <h3>Статус: Активирован</h3>
  </div>
  <tui-scrollbar>
    <!--    <nav tuiTabs vertical="left">-->
    <!--      <button-->
    <!--        tuiTab-->
    <!--        *ngFor="let item of menu"-->
    <!--        [routerLink]="item.link"-->
    <!--        routerLinkActive>-->
    <!--        <span>-->
    <!--          <tui-svg [src]="item.icon"></tui-svg>-->
    <!--          {{ item.name }}-->
    <!--        </span>-->
    <!--      </button>-->
    <!--    </nav>-->

    <tui-accordion [rounded]="false">
      <tui-accordion-item
        *ngFor="let item of menu"
        [borders]="null"
        [routerLink]="item.link"
        [showArrow]="false">
        <div routerLinkActive="active">
          <tui-svg [src]="item.icon" class="tui-space_right-2"></tui-svg>
          <a tuiLink>{{ item.name }}</a>
        </div>
        <!--        <ng-container *ngIf="item.child" tuiAccordionItemContent>-->
        <!--          <ng-container *ngFor="let link of item.child">-->
        <!--            <a tuiLink class="tui-row" [routerLink]="link.link">{{-->
        <!--              link.name-->
        <!--            }}</a>-->
        <!--          </ng-container>-->
        <!--        </ng-container>-->
      </tui-accordion-item>
    </tui-accordion>
  </tui-scrollbar>
  <div class="foot-menu">
    <tui-accordion-item [borders]="null" [showArrow]="false" (click)="logout()">
      Выход
    </tui-accordion-item>
  </div>
</section>
