<tui-accordion-item class="tui-space_top-5 tui-space_bottom-5">
  Создание записи на мойку
  <ng-template tuiAccordionItemContent>
    <div class="tui-row">
      <div class="tui-col_md-6">
        <tui-combo-box
          class="b-form tui-form__row"
          [stringify]="clientStringify"
          [(ngModel)]="client"
          (searchChange)="searchClient$.next($event)">
          Поиск клиента
          <input
            tuiTextfield
            placeholder="Поиск по имени/телефону"
            (input)="searchClient$.next(extractValueFromEvent($event))" />
          <tui-data-list-wrapper
            *tuiDataList
            [itemContent]="clientStringify | tuiStringifyContent"
            [items]="clients$ | async"></tui-data-list-wrapper>
        </tui-combo-box>

        <h3 class="tui-form__header tui-form__header_margin-top_none tui-form__row">Список услуг</h3>
        <p class="tui-island__paragraph" *ngIf="station">Стоимость: <tui-money [value]="purchaseAmount"></tui-money></p>
        <p class="tui-island__paragraph" *ngIf="station">Время: {{ durationAmount }} мин.</p>
        <div tuiGroup class="tui-form__row" *ngFor="let service of services; index as idx">
          <tui-combo-box
            *tuiLet="listServices$ | async as listServices"
            class="b-form"
            [(ngModel)]="services[idx]"
            [stringify]="serviceStringify"
            (ngModelChange)="changeServices()">
            Поиск услуги
            <input tuiTextfield placeholder="Поиск по названию" />
            <div *ngIf="listServices">
              <tui-data-list-wrapper
                *tuiDataList
                [itemContent]="serviceStringify | tuiStringifyContent"
                [items]="
                  listServices | tuiFilter : matcherService | tuiFilterByInputWith : serviceStringify
                "></tui-data-list-wrapper>
            </div>
          </tui-combo-box>
          <button
            tuiIconButton
            type="button"
            appearance="outline"
            size="l"
            (click)="removeService(idx)"
            icon="tuiIconCloseLarge"
            class="tui-group__auto-width-item"></button>
        </div>
        <button tuiButton type="button" icon="tuiIconPlusLarge" (click)="addService()" class="tui-form__row">
          Добавить услугу
        </button>
      </div>
      <div class="tui-col_md-6">
        <div tuiGroup class="group tui-form__row">
          <tui-combo-box
            *tuiLet="stations$ | async as stations"
            [stringify]="stationsStringify"
            [(ngModel)]="station"
            (ngModelChange)="changeStation()">
            Поиск станции
            <input tuiTextfield placeholder="Поиск по названию" />
            <tui-data-list-wrapper
              *tuiDataList
              [itemContent]="stationsStringify | tuiStringifyContent"
              [items]="stations | tuiFilterByInputWith : stationsStringify"></tui-data-list-wrapper>
          </tui-combo-box>
          <tui-combo-box
            *tuiLet="listPosts$ | async as posts"
            [stringify]="stationsStringify"
            [(ngModel)]="post"
            (ngModelChange)="changeStation()">
            Поиск поста
            <input tuiTextfield placeholder="Поиск по названию" />
            <tui-data-list-wrapper
              *tuiDataList
              [itemContent]="postStringify | tuiStringifyContent"
              [items]="posts | tuiFilterByInputWith : postStringify"></tui-data-list-wrapper>
          </tui-combo-box>
        </div>
        <tui-input-date
          class="tui-form__row"
          [(ngModel)]="day"
          (ngModelChange)="searchTimes()"
          [min]="minDay"
          [max]="maxDay">
          Choose a date
        </tui-input-date>
        <tui-input-time *ngIf="times" class="tui-form__row" [items]="times" [(ngModel)]="time">
          Input time
        </tui-input-time>
      </div>
    </div>
    <div class="tui-form__buttons tui-form__buttons_align_end">
      <button class="tui-form__button" tuiButton (click)="createOrder()" appearance="primary">Создать</button>
    </div>
  </ng-template>
</tui-accordion-item>
