<tui-island>
  <form [formGroup]="formEditStation">
    <div class="tui-form__row">
      <tui-input formControlName="address"> Адрес </tui-input>
      <tui-error formControlName="address" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <div class="tui-form__row">
      <tui-input formControlName="name"> Название </tui-input>
      <tui-error formControlName="name" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <div tuiGroup class="group tui-form__row">
      <tui-checkbox-block contentAlign="right" formControlName="aroundClock" (change)="changeAroundClock()">
        Круглосуточно
      </tui-checkbox-block>
      <tui-input-time
        *ngIf="!formEditStation.get('aroundClock')?.value"
        tuiUnfinishedValidator
        formControlName="startWork">
        Начало работы
      </tui-input-time>
      <tui-input-time
        *ngIf="!formEditStation.get('aroundClock')?.value"
        tuiUnfinishedValidator
        formControlName="endWork">
        Окончание работы
      </tui-input-time>
    </div>
    <div class="tui-form__row">
      <tui-text-area formControlName="description">Описание</tui-text-area>
    </div>
    <div class="flex-wrap tui-form__row">
      <button class="tui-form__button center" tuiButton size="s" (click)="updateStation()" appearance="primary">
        Сохранить
      </button>
      <button class="tui-form__button right" tuiButton size="s" (click)="removeStation()" appearance="accent">
        Удалить
      </button>
    </div>
  </form>

  <tui-accordion-item class="tui-form__row">
    Редактор услуг
    <ng-template tuiAccordionItemContent>
      <table tuiTable class="tui-form__row" [style.width.%]="100" [columns]="columnsServices">
        <thead>
          <tr tuiThGroup>
            <th *tuiHead="'action-1'" tuiTh [sorter]="null"></th>
            <th *tuiHead="'name'" tuiTh [style.width.rem]="100">Название</th>
            <th *tuiHead="'duration'" tuiTh>Длительность</th>
            <th *tuiHead="'bonusPercentage'" tuiTh>Процент бонусов</th>
            <th *tuiHead="'price'" tuiTh>Цена</th>
            <th *tuiHead="'discount'" tuiTh>Скидка</th>
            <th *tuiHead="'action-2'" tuiTh [sorter]="null"></th>
          </tr>
        </thead>
        <tbody *tuiLet="services | tuiTableSort as servicesSort" tuiTbody [data]="servicesSort">
          <tr tuiTr [formGroup]="formAddService">
            <td *tuiCell="'action-1'" tuiTd></td>
            <td *tuiCell="'name'" tuiTd>
              <tui-combo-box
                *tuiLet="listServices$ | async as listServices"
                class="b-form"
                formControlName="classService"
                [stringify]="serviceStringify">
                Поиск услуги
                <input tuiTextfield placeholder="Поиск по названию" />
                <tui-data-list-wrapper
                  *tuiDataList
                  [itemContent]="serviceStringify | tuiStringifyContent"
                  [items]="listServices | tuiFilterByInputWith : serviceStringify"></tui-data-list-wrapper>
              </tui-combo-box>
            </td>
            <td *tuiCell="'duration'" tuiTd>
              <tui-input-number formControlName="duration" [postfix]="'мин.'"></tui-input-number>
            </td>
            <td *tuiCell="'bonusPercentage'" tuiTd>
              <tui-input-number formControlName="bonusPercentage" [postfix]="'%'"></tui-input-number>
            </td>
            <td *tuiCell="'price'" tuiTd>
              <tui-input-number formControlName="price" [postfix]="'RUB' | tuiCurrency"></tui-input-number>
            </td>
            <td *tuiCell="'discount'" tuiTd>
              <tui-input-number formControlName="discount" [postfix]="'%'"></tui-input-number>
            </td>
            <td *tuiCell="'action-2'" tuiTd>
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                icon="tuiIconPlus"
                shape="rounded"
                (click)="addService()"></button>
            </td>
          </tr>
          <tr *ngFor="let service of services | tuiTableSort; let i = index" tuiTr>
            <td *tuiCell="'action-1'" tuiTd>
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                [icon]="service.visible ? 'tuiIconEye' : 'tuiIconEyeOff'"
                shape="rounded"
                (click)="setVisibleService(i)"></button>
            </td>
            <td *tuiCell="'name'" tuiTd>
              {{ service.name }}
            </td>
            <td *tuiCell="'duration'" tuiTd>
              <tui-input-number [(ngModel)]="service.duration" [postfix]="'мин.'"></tui-input-number>
            </td>
            <td *tuiCell="'bonusPercentage'" tuiTd>
              <tui-input-number [(ngModel)]="service.bonusPercentage" [postfix]="'%'"></tui-input-number>
            </td>
            <td *tuiCell="'price'" tuiTd>
              <tui-input-number [(ngModel)]="service.price" [postfix]="'RUB' | tuiCurrency"></tui-input-number>
            </td>
            <td *tuiCell="'discount'" tuiTd>
              <tui-input-number [(ngModel)]="service.discount" [postfix]="'%'"></tui-input-number>
            </td>
            <td *tuiCell="'action-2'" tuiTd>
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                icon="tuiIconTrash"
                shape="rounded"
                (click)="removeServiceForStation(service.id)"></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="tui-form__buttons">
        <button
          tuiButton
          type="button"
          appearance="primary"
          size="xs"
          class="tui-form__button"
          (click)="updateServices()">
          Обновить
        </button>
      </div>
    </ng-template>
  </tui-accordion-item>

  <tui-accordion-item class="tui-form__row">
    Редактор постов
    <ng-template tuiAccordionItemContent>
      <div tuiGroup>
        <tui-input [(ngModel)]="namePost"> Введите название нового поста </tui-input>
        <button class="tui-form__button" tuiButton (click)="createPost()" appearance="primary">Создать пост</button>
      </div>
      <div class="content-post tui-form__row" *ngIf="posts.length > 0; else nothing">
        <nav tuiTabs [(activeItemIndex)]="indexPost" vertical="left" class="left">
          <button tuiTab *ngFor="let post of posts; let i = index" (click)="selectPost(i)">
            {{ post.name }}
          </button>
        </nav>
        <div [style.width.%]="100">
          <div tuiGroup class="tui-form__row">
            <tui-input [(ngModel)]="posts[indexPost].name"> Название поста </tui-input>
            <button class="tui-form__button" tuiButton (click)="updateNamePost()" appearance="primary">
              Сохранить
            </button>
          </div>
          <table tuiTable class="tui-form__row" [style.width.%]="100" [columns]="columnsServicesOnPost">
            <thead>
              <tr tuiThGroup>
                <th *tuiHead="'name'" tuiTh>Название</th>
                <th *tuiHead="'actions'" tuiTh [sorter]="null"></th>
              </tr>
            </thead>
            <tbody *tuiLet="posts[indexPost].services as servicesSort" tuiTbody [data]="servicesSort">
              <tr tuiTr>
                <td *tuiCell="'name'" tuiTd>
                  <tui-combo-box class="b-form" [(ngModel)]="stationServiceForPost" [stringify]="serviceStringify">
                    Поиск услуги
                    <input tuiTextfield placeholder="Поиск по названию" />
                    <tui-data-list-wrapper
                      *tuiDataList
                      [itemContent]="serviceStringify | tuiStringifyContent"
                      [items]="
                        posts[indexPost].freeServices | tuiFilterByInputWith : serviceStringify
                      "></tui-data-list-wrapper>
                  </tui-combo-box>
                </td>
                <td *tuiCell="'actions'" tuiTd>
                  <button
                    tuiIconButton
                    appearance="flat"
                    size="s"
                    icon="tuiIconPlus"
                    shape="rounded"
                    (click)="addServicePost()"></button>
                </td>
              </tr>
              <tr *ngFor="let service of servicesSort; let i = index" tuiTr>
                <td *tuiCell="'name'" tuiTd>
                  {{ service.classServices.name }}
                </td>
                <td *tuiCell="'actions'" tuiTd>
                  <button
                    tuiIconButton
                    appearance="flat"
                    size="s"
                    icon="tuiIconTrash"
                    shape="rounded"
                    (click)="removeServicePost(service.id)"></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="tui-form__buttons">
            <button
              tuiButton
              type="button"
              appearance="accent"
              size="xs"
              class="tui-form__button"
              (click)="removePost()">
              Удалить пост
            </button>
          </div>
        </div>
      </div>
      <ng-template #nothing> Нет постов </ng-template>
    </ng-template>
  </tui-accordion-item>
</tui-island>
