<tui-island>
  <app-create-station *ngIf="station" [station]="station"></app-create-station>

  <tui-accordion-item class="tui-form__row">
    Редактор услуг
    <ng-template tuiAccordionItemContent>
      <app-services-editor
        (eUpdate)="onServicesUpdate()"
        [services]="services"
        [stationId]="stationId"></app-services-editor>
    </ng-template>
  </tui-accordion-item>

  <tui-accordion-item class="tui-form__row">
    Редактор постов
    <ng-template tuiAccordionItemContent>
      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
          <tui-input [formControl]="namePost"> Введите название нового поста </tui-input>
          <tui-error [formControl]="namePost" [error]="[] | tuiFieldError | async"></tui-error>
        </div>
        <div class="tui-form__multi-field">
          <button
            (click)="onCreatePost()"
            [style.width.%]="100"
            tuiButton
            class="tui-form__button"
            appearance="primary">
            Создать пост
          </button>
        </div>
      </div>
      <div class="content-post tui-form__row" *ngIf="posts.length > 0; else nothing">
        <nav tuiTabs [(activeItemIndex)]="activePostIndex" vertical="left" class="left">
          <button tuiTab *ngFor="let post of posts; index as i" (click)="onSelectPost(i)">
            {{ post.name }}
          </button>
        </nav>
        <div [style.width.%]="100">
          <div class="tui-form__row tui-form__row_multi-fields">
            <div class="tui-form__multi-field">
              <tui-input [(ngModel)]="posts[activePostIndex].name"> Название поста </tui-input>
            </div>
            <div class="tui-form__multi-field">
              <button
                (click)="onUpdatePostName()"
                [style.width.%]="100"
                tuiButton
                class="tui-form__button"
                appearance="primary">
                Сохранить
              </button>
            </div>
          </div>
          <table tuiTable class="tui-form__row" [style.width.%]="100" [columns]="columnsServicesOnPost">
            <thead>
              <tr tuiThGroup>
                <th *tuiHead="'name'" tuiTh>Название</th>
                <th *tuiHead="'actions'" tuiTh [sorter]="null"></th>
              </tr>
            </thead>
            <tbody *tuiLet="posts[activePostIndex].services as servicesSort" tuiTbody [data]="servicesSort">
              <tr tuiTr>
                <td *tuiCell="'name'" tuiTd>
                  <tui-combo-box class="b-form" [(ngModel)]="stationServiceForPost" [stringify]="serviceStringify">
                    Поиск услуги
                    <input tuiTextfield placeholder="Поиск по названию" />
                    <tui-data-list-wrapper
                      *tuiDataList
                      [itemContent]="serviceStringify | tuiStringifyContent"
                      [items]="
                        services
                          | tuiFilter : filterPostServices : posts[activePostIndex]
                          | tuiFilterByInputWith : serviceStringify
                      "></tui-data-list-wrapper>
                  </tui-combo-box>
                </td>
                <td *tuiCell="'actions'" tuiTd [style.width.px]="56">
                  <button
                    (click)="onAddServicePost()"
                    tuiIconButton
                    appearance="flat"
                    size="s"
                    icon="tuiIconPlus"
                    shape="rounded"></button>
                </td>
              </tr>
              <tr *ngFor="let service of servicesSort; let i = index" tuiTr>
                <td *tuiCell="'name'" tuiTd>
                  {{ service.classServices.name }}
                </td>
                <td *tuiCell="'actions'" tuiTd [style.width.px]="56">
                  <button
                    (click)="onRemoveServicePost(service.id)"
                    tuiIconButton
                    appearance="flat"
                    size="s"
                    icon="tuiIconTrash"
                    shape="rounded"></button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="tui-form__buttons">
            <button
              tuiButton
              type="button"
              appearance="accent"
              size="xs"
              class="tui-form__button"
              (click)="onRemovePost()">
              Удалить пост
            </button>
          </div>
        </div>
      </div>
      <ng-template #nothing> Нет постов </ng-template>
    </ng-template>
  </tui-accordion-item>
</tui-island>
