<tui-island>
  <tui-input class="tui-form__row" [(ngModel)]="address"> Адрес </tui-input>
  <div tuiGroup class="tui-form__row">
    <tui-input [(ngModel)]="name"> Название </tui-input>
    <tui-input-time tuiUnfinishedValidator [(ngModel)]="startWork">
      Начало работы
    </tui-input-time>
    <tui-input-time tuiUnfinishedValidator [(ngModel)]="endWork">
      Окончание работы
    </tui-input-time>
  </div>
  <tui-text-area class="tui-form__row" [(ngModel)]="description">
    Описание
  </tui-text-area>

  <div class="tui-form__buttons">
    <button
      class="tui-form__button"
      tuiButton
      size="s"
      (click)="onSubmit()"
      appearance="primary">
      Сохранить
    </button>
  </div>

  <tui-accordion-item class="tui-form__row">
    Редактор услуг
    <ng-template tuiAccordionItemContent>
      <table
        tuiTable
        class="tui-form__row"
        [style.width.%]="100"
        [columns]="columnsServices">
        <thead>
          <tr tuiThGroup>
            <th *tuiHead="'name'" tuiTh [style.width.rem]="100">Название</th>
            <th *tuiHead="'duration'" tuiTh>Длительность</th>
            <th *tuiHead="'bonusPercentage'" tuiTh>Процент бонусов</th>
            <th *tuiHead="'price'" tuiTh>Цена</th>
            <th *tuiHead="'discount'" tuiTh>Скидка</th>
            <th *tuiHead="'action-2'" tuiTh [sorter]="null"></th>
          </tr>
        </thead>
        <tbody
          *tuiLet="services | tuiTableSort as servicesSort"
          tuiTbody
          [data]="servicesSort">
          <tr tuiTr>
            <td *tuiCell="'name'" tuiTd>
              <tui-select
                *tuiLet="$classServices | async as classServices"
                class="b-form"
                [tuiTextfieldLabelOutside]="true"
                [valueContent]="
                  classServices ? stringify(classServices) : loading
                "
                [(ngModel)]="classServiceForStationId">
                Услуга
                <ng-template tuiDataList>
                  <tui-data-list *ngIf="classServices; else loading">
                    <button
                      *ngFor="let service of classServices"
                      tuiOption
                      [value]="service.id">
                      {{ service.name }}
                    </button>
                  </tui-data-list>
                </ng-template>
                <ng-template #loading>
                  <tui-loader class="tui-space_vertical-3 loader"></tui-loader>
                </ng-template>
              </tui-select>
            </td>
            <td *tuiCell="'duration'" tuiTd>
              <tui-input-number [(ngModel)]="duration"></tui-input-number>
            </td>
            <td *tuiCell="'bonusPercentage'" tuiTd>
              <tui-input-number
                [(ngModel)]="bonusPercentage"></tui-input-number>
            </td>
            <td *tuiCell="'price'" tuiTd>
              <tui-input-number [(ngModel)]="price"></tui-input-number>
            </td>
            <td *tuiCell="'discount'" tuiTd>
              <tui-input-number [(ngModel)]="discount"></tui-input-number>
            </td>
            <td *tuiCell="'action-2'" tuiTd>
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                icon="tuiIconPlus"
                shape="rounded"
                (click)="addService()"></button>
            </td>
          </tr>
          <tr *ngFor="let service of services; let i = index" tuiTr>
            <td *tuiCell="'name'" tuiTd>
              {{ service.name }}
            </td>
            <td *tuiCell="'duration'" tuiTd>
              <tui-input-number
                [(ngModel)]="service.duration"></tui-input-number>
            </td>
            <td *tuiCell="'bonusPercentage'" tuiTd>
              <tui-input-number
                [(ngModel)]="service.bonusPercentage"></tui-input-number>
            </td>
            <td *tuiCell="'price'" tuiTd>
              <tui-input-number [(ngModel)]="service.price"></tui-input-number>
            </td>
            <td *tuiCell="'discount'" tuiTd>
              <tui-input-number
                [(ngModel)]="service.discount"></tui-input-number>
            </td>
            <td *tuiCell="'action-2'" tuiTd>
              <button
                tuiIconButton
                appearance="flat"
                size="s"
                icon="tuiIconTrash"
                shape="rounded"
                (click)="removeServiceForStation(i)"></button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="tui-form__buttons">
        <button
          tuiButton
          type="button"
          appearance="primary"
          size="xs"
          class="tui-form__button"
          (click)="updateServices()">
          Обновить
        </button>
      </div>
    </ng-template>
  </tui-accordion-item>

  <tui-accordion-item class="tui-form__row">
    Редактор постов
    <ng-template tuiAccordionItemContent>
      <div tuiGroup>
        <tui-input [(ngModel)]="namePost">
          Введите название нового поста
        </tui-input>
        <button
          class="tui-form__button"
          tuiButton
          (click)="createPost()"
          appearance="primary">
          Создать пост
        </button>
      </div>
      <div
        class="content-post tui-form__row"
        *ngIf="posts.length > 0; else nothing">
        <nav tuiTabs vertical="left" class="left">
          <button
            tuiTab
            *ngFor="let post of posts; let i = index"
            (click)="selectPost(i)">
            {{ post.name }}
          </button>
        </nav>
        <div [style.width.%]="100">
          <table
            tuiTable
            [style.width.%]="100"
            [columns]="columnsServicesOnPost">
            <thead>
              <tr tuiThGroup>
                <th *tuiHead="'name'" tuiTh>Название</th>
                <th *tuiHead="'actions'" tuiTh [sorter]="null"></th>
              </tr>
            </thead>
            <tbody
              *tuiLet="posts[indexPost].services as servicesSort"
              tuiTbody
              [data]="servicesSort">
              <tr tuiTr>
                <td *tuiCell="'name'" tuiTd>
                  <tui-select
                    class="b-form"
                    [tuiTextfieldLabelOutside]="true"
                    [valueContent]="services ? stringify(services) : loading"
                    [(ngModel)]="stationServiceIdForPost">
                    Услуга
                    <ng-template tuiDataList>
                      <tui-data-list *ngIf="services; else loading">
                        <button
                          *ngFor="let service of services"
                          tuiOption
                          [value]="service.id">
                          {{ service.name }}
                        </button>
                      </tui-data-list>
                    </ng-template>
                    <ng-template #loading>
                      <tui-loader
                        class="tui-space_vertical-3 loader"></tui-loader>
                    </ng-template>
                  </tui-select>
                </td>
                <td *tuiCell="'actions'" tuiTd>
                  <button
                    tuiIconButton
                    appearance="flat"
                    size="s"
                    icon="tuiIconPlus"
                    shape="rounded"
                    (click)="addServicePost()"></button>
                </td>
              </tr>
              <tr *ngFor="let service of servicesSort; let i = index" tuiTr>
                <td *tuiCell="'name'" tuiTd>{{ service.name }}</td>
                <td *tuiCell="'actions'" tuiTd>
                  <button
                    tuiIconButton
                    appearance="flat"
                    size="s"
                    icon="tuiIconTrash"
                    shape="rounded"
                    (click)="removeServicePost(service.id)"></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <ng-template #nothing> Нет постов </ng-template>
    </ng-template>
  </tui-accordion-item>
</tui-island>
