@import '~@taiga-ui/core/styles/taiga-ui-local';

table {
  width: 100%;
}

.content-post {
  display: flex;
  margin: 2rem 0;

  .left {
    margin-right: 2rem;
    min-width: 10rem;
    width: 10rem;
  }
}

.buttons {
  display:flex;
  margin-top: 1rem;

  .left {
    width:fit-content;
    margin-right:auto;
  }

  .right {
    width:fit-content;
    margin-left:auto;
  }
}
