<app-create-service (createEvent)="updateData()"></app-create-service>

<p tuiTextfieldSize="m" class="filters">
  <tui-input class="input" [tuiTextfieldCleaner]="true" [(ngModel)]="search">
    Поиск
  </tui-input>
</p>

<tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
  <table
    *ngIf="data$ | async as data"
    tuiTable
    class="table"
    [columns]="columns">
    <thead>
      <tr tuiThGroup>
        <th tuiTh>Действия</th>
        <th tuiTh>Название</th>
      </tr>
    </thead>
    <tbody tuiTbody [data]="data">
      <tr tuiTr *ngFor="let item of data">
        <td tuiTd *tuiCell="'actions'">
          <button
            tuiIconButton
            appearance="flat"
            size="s"
            icon="tuiIconEditLarge"
            tuiHint="Редактировать"
            tuiHintDirection="right"
            tuiHintDescribe
            title="Редактировать"
            shape="rounded"></button>
          <button
            tuiIconButton
            tuiHint="Удалить"
            tuiHintDirection="right"
            tuiHintDescribe
            appearance="flat"
            size="s"
            icon="tuiIconRemoveLarge"
            shape="rounded"></button>
          <button
            tuiIconButton
            appearance="flat"
            size="s"
            icon="tuiIconAlertCircleLarge"
            title="Подробнее"
            shape="rounded"></button>
        </td>
        <td tuiTd *tuiCell="'name'">
          {{ item.name }}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="columns.length">
          <tui-pagination
            class="tui-space_top-5"
            [length]="(total$ | async) || 0"
            [index]="page$.value"
            (indexChange)="page$.next($event)"></tui-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</tui-loader>
