<h3 class="tui-form__header">Смена пароля</h3>
<div class="tui-form__row tui-form__row_multi-fields">
  <div class="tui-form__multi-field">
    <tui-input-password [(ngModel)]="password"> Пароль </tui-input-password>
  </div>
  <div class="tui-form__multi-field">
    <tui-input-password [(ngModel)]="repeatPassword">
      Повтор пароля
    </tui-input-password>
  </div>
</div>
<div class="tui-form__buttons">
  <button tuiButton class="tui-form__button" appearance="primary">
    Сохранить
  </button>
</div>
