<tui-accordion-item>
  Регистрация клиента
  <ng-template tuiAccordionItemContent>
    <tui-expand [expanded]="!expandedCode">
      <form [formGroup]="form">
        <div tuiGroup class="group">
          <div>
            <tui-input-phone formControlName="phone" class="tui-group__inherit-item">
              Телефон
              <span class="tui-required"></span>
              <input tuiTextfield autocomplete="tel" />
            </tui-input-phone>
            <tui-error formControlName="phone" [error]="[] | tuiFieldError | async"></tui-error>
          </div>
          <div>
            <tui-input formControlName="name" class="tui-group__inherit-item">
              Имя
              <span class="tui-required"></span>
            </tui-input>
          </div>
        </div>
        <div class="flex-wrap tui-form__row">
          <button
            [disabled]="isInvalid"
            (click)="onSubmit()"
            class="tui-form__button center"
            tuiButton
            appearance="primary">
            Создать
          </button>
          <tui-checkbox-block contentAlign="right" class="right" [formControl]="checkControl">
            Запросить подтверждение по SMS
          </tui-checkbox-block>
        </div>
      </form>
    </tui-expand>

    <tui-expand [expanded]="expandedCode">
      <form [formGroup]="codeForm">
        <div tuiGroup class="group">
          <div>
            <tui-input-number formControlName="code" class="tui-group__inherit-item">
              Код подтверждения
            </tui-input-number>
          </div>
          <div>
            <button
              tuiButton
              [disabled]="isInvalidCode"
              [showLoader]="isLoading"
              class="tui-form__button tui-group__inherit-item"
              appearance="primary"
              type="submit"
              (click)="onAcceptCode()">
              Отправить
            </button>
          </div>
        </div>
        <tui-error formControlName="code" [error]="[] | tuiFieldError | async"></tui-error>
      </form>
    </tui-expand>
  </ng-template>
</tui-accordion-item>
