<tui-accordion-item>
  Регистрация клиента
  <ng-template tuiAccordionItemContent>
    <tui-expand [expanded]="!expandedCode">
      <form [formGroup]="form">
        <div tuiGroup class="tui-form__row">
          <tui-input-phone formControlName="phone">
            Телефон
            <span class="tui-required"></span>
            <input tuiTextfield autocomplete="tel" />
          </tui-input-phone>
          <tui-input formControlName="name"> Имя </tui-input>
        </div>
        <div class="flex-wrap tui-form__row">
          <button class="tui-form__button center" tuiButton (click)="onSubmit()" appearance="primary">Создать</button>
          <tui-checkbox-block contentAlign="right" class="right" formControlName="check">
            Запросить подтверждение по SMS
          </tui-checkbox-block>
        </div>
      </form>
    </tui-expand>

    <tui-expand [expanded]="expandedCode">
      <div tuiGroup class="tui-form__row">
        <tui-input-number [formControl]="code"> Код подтверждения </tui-input-number>

        <button tuiButton [showLoader]="loader" class="tui-form__button" appearance="primary" (click)="onAcceptCode()">
          Отправить
        </button>
      </div>
    </tui-expand>
  </ng-template>
</tui-accordion-item>
