<tui-accordion-item>
  Регистрация клиента
  <ng-template tuiAccordionItemContent>
    <tui-expand [expanded]="!expandedCode">
      <div tuiGroup class="tui-form__row">
        <tui-input-phone [formControl]="phone">
          Телефон
          <span class="tui-required"></span>
          <input tuiTextfield autocomplete="tel" />
        </tui-input-phone>
        <button
          tuiButton
          class="tui-form__button"
          (click)="onSubmit()"
          appearance="primary">
          Зарегистрировать
        </button>
      </div>
    </tui-expand>

    <tui-expand [expanded]="expandedCode">
      <div tuiGroup class="tui-form__row">
        <tui-input-number [formControl]="code">
          Код подтверждения
        </tui-input-number>

        <button
          tuiButton
          [showLoader]="loader"
          class="tui-form__button"
          appearance="primary"
          (click)="onAcceptCode()">
          Отправить
        </button>
      </div>
    </tui-expand>
  </ng-template>
</tui-accordion-item>
