<tui-accordion-item>
  Создание услуги
  <ng-template tuiAccordionItemContent>
    <form [formGroup]="formCreateService" (ngSubmit)="onSubmit()">
      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
          <tui-input formControlName="name">
            Название
            <input tuiTextfield />
          </tui-input>
        </div>
        <div class="tui-form__multi-field">
          <tui-input formControlName="price">
            Цена
            <input tuiTextfield />
          </tui-input>
        </div>
      </div>
      <div class="tui-form__row">
        <tui-input formControlName="description">
          Описание
          <input tuiTextfield />
        </tui-input>
      </div>
      <div class="tui-form__buttons tui-form__buttons_align_center">
        <button
          tuiButton
          class="tui-form__button"
          type="submit"
          appearance="primary">
          Создать
        </button>
      </div>
    </form>
  </ng-template>
</tui-accordion-item>
