<form [formGroup]="notificationForm">
  <tui-island>
    <div class="tui-form__row">
      <tui-input formControlName="title">
        Заголовок
        <span class="tui-required"></span>
      </tui-input>
      <tui-error formControlName="title" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <div class="tui-form__row">
      <tui-text-area formControlName="content">Контент</tui-text-area>
      <tui-error formControlName="content" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
  </tui-island>
  <div class="flex-wrap tui-form__row">
    <button class="tui-form__button left" tuiButton appearance="primary" (click)="save()">Сохранить</button>
    <button class="tui-form__button left" tuiButton appearance="primary" (click)="pushNotification()">
      Отправить всем
    </button>
    <button class="tui-form__button right" tuiButton appearance="accent" (click)="removeNotification()">Удалить</button>
  </div>
</form>
