<form [formGroup]="notificationForm">
  <tui-island>
    <div class="tui-form__row">
      <tui-input formControlName="title">
        Заголовок
        <span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__row">
      <tui-text-area formControlName="content">Контент</tui-text-area>
    </div>
  </tui-island>
  <div class="flex-wrap tui-form__row">
    <button class="tui-form__button left" tuiButton appearance="primary">Сохранить</button>
    <button class="tui-form__button left" tuiButton appearance="primary">Отправить всем</button>
    <button class="tui-form__button right" tuiButton appearance="accent">Удалить</button>
  </div>
</form>
