<tui-island size="l" textAlign="center">
  <h3 class="tui-form__header tui-form__header_margin-top_none">
    Бонусная система
  </h3>
  <div class="tui-form__row">
    <div tuiGroup class="tui-form__row" [adaptive]="true" [collapsed]="true">
      <tui-input-phone [formControl]="phone">
        Телефон
        <span class="tui-required"></span>
        <input tuiTextfield autocomplete="tel" />
      </tui-input-phone>
      <button
        tuiButton
        class="tui-form__button"
        (click)="onAcceptClient()"
        appearance="primary">
        Найти
      </button>
    </div>
    <tui-error
      [formControl]="phone"
      [error]="[] | tuiFieldError | async"></tui-error>
  </div>

  <div class="tui-form__row">
    <tui-expand [expanded]="expanded">
      <ng-template tuiExpandContent>
        <div class="tui-row">
          <div class="tui-col_md-6">
            <tui-island size="l" textAlign="center">
              <h3 class="title">Клиент: {{ clientName }}</h3>
              <p class="tui-island__paragraph">Бонусов: {{ clientBonuses }}</p>
            </tui-island>
          </div>
          <div class="tui-col_md-6">
            <form [formGroup]="formBonus" (ngSubmit)="onBonus()">
              <div class="tui-form__row tui-form__row_multi-fields">
                <div class="tui-form__multi-field">
                  <tui-input-number
                    formControlName="sum"
                    [postfix]="'RUB' | tuiCurrency">
                    Сумма
                    <span class="tui-required"></span>
                  </tui-input-number>
                </div>
                <div class="tui-form__multi-field">
                  <tui-input-count formControlName="offs" [step]="100">
                    Списать
                  </tui-input-count>
                </div>
              </div>

              <div class="tui-form__buttons tui-form__buttons_align_center">
                <button
                  tuiButton
                  class="tui-form__button"
                  type="submit"
                  appearance="primary">
                  Начислить
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </tui-expand>
  </div>
</tui-island>
