<app-create-client (createEvent)="updateData()"></app-create-client>

<div
  tuiGroup
  class="tui-form__row tui-space_bottom-5"
  [adaptive]="true"
  [collapsed]="true">
  <tui-input
    class="input"
    tuiTextfieldSize="m"
    [tuiTextfieldCleaner]="true"
    [ngModel]="search$ | async"
    (ngModelChange)="search$.next($event)">
    Поиск
  </tui-input>
  <tui-select
    tuiTextfieldSize="m"
    [ngModel]="size$ | async"
    (ngModelChange)="size$.next($event)">
    Размер страницы
    <tui-data-list-wrapper *tuiDataList [items]="sizes"></tui-data-list-wrapper>
  </tui-select>
</div>

<tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
  <tui-scrollbar>
    <cdk-virtual-scroll-viewport
      #viewport
      tuiScrollable
      class="viewport tui-zero-scrollbar"
      [itemSize]="45"
      [maxBufferPx]="500"
      [minBufferPx]="400">
      <table
        *ngIf="data$ | async as data"
        tuiTable
        class="table"
        [columns]="columns"
        [tuiSortBy]="sorter$ | async"
        (tuiSortByChange)="sorter$.next($event!)"
        [direction]="(direction$ | async) || 1"
        (directionChange)="direction$.next($event)">
        <thead>
          <tr tuiThGroup>
            <th
              tuiTh
              *tuiHead="'name'"
              [sticky]="true"
              [style.top.px]="-viewport['_renderedContentOffset']"
              tuiSortable>
              Имя
            </th>
            <th
              tuiTh
              *tuiHead="'phone'"
              [sticky]="true"
              [style.top.px]="-viewport['_renderedContentOffset']"
              tuiSortable>
              Телефон
            </th>
            <th
              tuiTh
              *tuiHead="'email'"
              [sticky]="true"
              [style.top.px]="-viewport['_renderedContentOffset']"
              tuiSortable>
              email
            </th>
            <th
              tuiTh
              *tuiHead="'bonuses'"
              [sticky]="true"
              [style.top.px]="-viewport['_renderedContentOffset']"
              tuiSortable>
              Бонусы
            </th>
            <th
              tuiTh
              *tuiHead="'numberOfVisits'"
              [sticky]="true"
              [style.top.px]="-viewport['_renderedContentOffset']"
              tuiSortable>
              Число посещений
            </th>
            <th
              tuiTh
              *tuiHead="'dateOfRegistration'"
              [sticky]="true"
              [style.top.px]="-viewport['_renderedContentOffset']"
              tuiSortable>
              Дата регистрации
            </th>
          </tr>
        </thead>
        <tbody
          tuiTbody
          *tuiLet="data | tuiTableSort as sortedData"
          [data]="sortedData">
          <tr tuiTr *cdkVirtualFor="let item of sortedData">
            <td tuiTd *tuiCell="'name'">
              <a
                tuiLink
                [routerLink]="['edit']"
                [queryParams]="{ id: item.id }">
                {{ item.name }}
              </a>
            </td>
            <td tuiTd *tuiCell="'phone'">
              {{ item.phone }}
            </td>
            <td tuiTd *tuiCell="'email'">
              {{ item.email }}
            </td>
            <td tuiTd *tuiCell="'bonuses'">
              {{ item.bonuses }}
            </td>
            <td tuiTd *tuiCell="'numberOfVisits'">
              {{ item.numberOfVisits }}
            </td>
            <td tuiTd *tuiCell="'dateOfRegistration'">
              {{ item.dateOfRegistration | date }}
            </td>
          </tr>
        </tbody>
      </table>
    </cdk-virtual-scroll-viewport>
  </tui-scrollbar>
  <tui-pagination
    class="tui-space_top-5"
    [length]="(total$ | async) || 0"
    [index]="page$.value"
    (indexChange)="page$.next($event)"></tui-pagination>
</tui-loader>
