<div class="tui-form__buttons">
  <button
    tuiButton
    class="tui-form__button"
    appearance="primary"
    (click)="createStation20()">
    Создать станции (20)
  </button>
</div>
<div class="tui-form__buttons">
  <button
    tuiButton
    class="tui-form__button"
    appearance="primary"
    (click)="createService10()">
    Создать услуги (10)
  </button>
</div>
<div class="tui-form__buttons">
  <button
    tuiButton
    class="tui-form__button"
    appearance="primary"
    (click)="createClient100()">
    Создать клиентов (100)
  </button>
</div>
