<tui-accordion-item>
  Создание шаблона уведомления
  <ng-template tuiAccordionItemContent>
    <form [formGroup]="formCreateNotification">
      <div class="tui-form__row">
        <tui-input formControlName="title"> Заголовок </tui-input>
      </div>
      <div class="tui-form__row">
        <tui-text-area formControlName="content">Контент</tui-text-area>
      </div>
      <div class="flex-wrap tui-form__row">
        <button class="tui-form__button center" tuiButton (click)="onSubmit()" appearance="primary">Создать</button>
        <tui-checkbox-block contentAlign="right" class="right" formControlName="send"> Отправить </tui-checkbox-block>
      </div>
    </form>
  </ng-template>
</tui-accordion-item>
