<div tuiGroup class="tui-form__row tui-space_bottom-5" [adaptive]="true" [collapsed]="true">
  <tui-combo-box
    *tuiLet="stations$ | async as stations"
    class="b-form tui-form__row"
    [stringify]="stationsStringify"
    [(ngModel)]="station"
    (ngModelChange)="change()">
    Поиск станции
    <input tuiTextfield placeholder="Поиск по названию" />
    <tui-data-list-wrapper
      *tuiDataList
      [itemContent]="stationsStringify | tuiStringifyContent"
      [items]="stations | tuiFilterByInputWith : stationsStringify"></tui-data-list-wrapper>
  </tui-combo-box>
  <tui-input-date [(ngModel)]="day" (ngModelChange)="change()"> Choose a date </tui-input-date>
</div>
<button
  *ngIf="indexPost > 0"
  tuiIconButton
  type="button"
  size="s"
  appearance="secondary"
  icon="tuiIconArrowLeft"
  (click)="pageDown()"
  class="tui-space_right-3 tui-space_bottom-3"></button>
<button
  *ngIf="indexPost + 5 < posts.length"
  tuiIconButton
  type="button"
  size="s"
  appearance="secondary"
  icon="tuiIconArrowRight"
  (click)="pageUp()"
  class="tui-space_right-3 tui-space_bottom-3"></button>
<full-calendar #calendar [options]="calendarOptions" [events]="events$ | async"></full-calendar>
