<app-create-service (eCreate)="onUpdateData()"></app-create-service>

<div tuiGroup class="tui-form__row tui-space_bottom-5" [adaptive]="true" [collapsed]="true">
  <tui-input class="input" tuiTextfieldSize="m" [tuiTextfieldCleaner]="true" [formControl]="searchControl">
    Поиск
  </tui-input>
</div>

<tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
  <table
    *ngIf="data$ | async as data"
    tuiTable
    class="table"
    [columns]="columns"
    [tuiSortBy]="sorter$ | async"
    (tuiSortByChange)="onSortChange($event)"
    [direction]="(direction$ | async) || 1"
    (directionChange)="onDirectionChange($event)">
    <thead>
      <tr tuiThGroup>
        <th tuiTh *tuiHead="'name'" tuiSortable>Имя</th>
      </tr>
    </thead>
    <tbody tuiTbody *tuiLet="data | tuiTableSort as sortedData" [data]="sortedData">
      <tr tuiTr *ngFor="let item of sortedData">
        <td tuiTd *tuiCell="'name'">
          <a tuiLink [routerLink]="['edit', item.id]">
            {{ item.name }}
          </a>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="columns.length">
          <tui-pagination
            class="tui-space_top-5"
            [length]="(total$ | async) || 0"
            [index]="page$.value"
            (indexChange)="onPageChange($event)"></tui-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</tui-loader>
