<form class="b-form" [formGroup]="form" (submit)="onSubmit(refreshPass)">
  <tui-input formControlName="email" nativeId="email"> Электронная почта </tui-input>
  <tui-error formControlName="email" [error]="[] | tuiFieldError | async"></tui-error>

  <div class="tui-form__buttons">
    <button tuiButton [disabled]="isLoading" class="tui-form__button" type="submit" appearance="primary">
      Восстановить пароль
    </button>
  </div>
</form>

<ng-template #refreshPass let-observer>
  <p>На почту {{ email }} будет отправлено письмо с временным паролем</p>
  <button tuiButton class="tui-space_right-3" type="button" (click)="onPasswordReset(); observer.complete()">Да</button>
  <button tuiButton type="button" (click)="observer.complete()">Нет</button>
</ng-template>
