<tui-accordion-item>
  Создание станции
  <ng-template tuiAccordionItemContent>
    <form [formGroup]="formCreateStation">
      <tui-input class="tui-form__row" formControlName="address">
        Адрес
      </tui-input>
      <div tuiGroup class="tui-form__row">
        <tui-input formControlName="name"> Название </tui-input>
        <tui-input formControlName="postCount"> Число постов </tui-input>
      </div>
      <div tuiGroup class="tui-form__row">
        <tui-checkbox-block
          contentAlign="right"
          [formControl]="aroundClock"
          (change)="changeAroundClock()">
          Круглосуточно
        </tui-checkbox-block>
        <tui-input-time
          tuiUnfinishedValidator
          [readOnly]="!!aroundClock.value"
          formControlName="startWork">
          Начало работы
        </tui-input-time>
        <tui-input-time
          tuiUnfinishedValidator
          [readOnly]="!!aroundClock.value"
          formControlName="endWork">
          Окончание работы
        </tui-input-time>
      </div>
      <div class="tui-form__row">
        <tui-text-area formControlName="description">Описание</tui-text-area>
      </div>
      <div class="tui-form__buttons tui-form__buttons_align_center">
        <button
          class="tui-form__button"
          tuiButton
          (click)="onSubmit()"
          appearance="primary">
          Создать
        </button>
      </div>
    </form>
  </ng-template>
</tui-accordion-item>
