<tui-accordion-item>
  Создание филиала
  <ng-template tuiAccordionItemContent>
    <form [formGroup]="formCreateFilial" (ngSubmit)="onSubmit()">
      <div class="tui-form__row">
        <tui-input formControlName="name">
          Название
          <input tuiTextfield />
        </tui-input>
      </div>
      <div class="tui-form__buttons tui-form__buttons_align_center">
        <button
          class="tui-form__button"
          tuiButton
          type="submit"
          appearance="primary">
          Создать
        </button>
      </div>
    </form>
  </ng-template>
</tui-accordion-item>
