<div [style.padding.px]="40">
  <div tuiGroup [adaptive]="true" [collapsed]="true" class="tui-row tui-space_bottom-5">
    <button tuiButton type="button" [appearance]="getAppearance(0)" size="l" (click)="setStatus(0)">
      Ожидание клиента
    </button>
    <button tuiButton type="button" [appearance]="getAppearance(1)" size="l" (click)="setStatus(1)">
      Клиент пришел
    </button>
    <button tuiButton type="button" [appearance]="getAppearance(2)" size="l" (click)="setStatus(2)">
      Клиент не пришел
    </button>
    <button tuiButton type="button" [appearance]="getAppearance(3)" size="l" (click)="setStatus(3)">
      Услуга оказана
    </button>
  </div>

  <tui-island *ngIf="client" class="tui-row tui-space_top-5 tui-space_bottom-5">
    <h3 class="tui-island__title">Клиент:</h3>
    <p class="tui-island__paragraph">Имя: {{ client.name }}</p>
    <p class="tui-island__paragraph">Телефон: {{ client.phone }}</p>
    <p class="tui-island__paragraph">Email: {{ client.email }}</p>
    <p class="tui-island__paragraph">Бонусов: {{ client.card.bonuses }}</p>
    <tui-combo-box
      *ngIf="replaceClient"
      class="b-form tui-form__row"
      [stringify]="clientStringify"
      [ngModel]="newClient"
      (searchChange)="searchClient$.next($event)">
      Поиск клиента
      <input
        tuiTextfield
        placeholder="Поиск по имени/телефону"
        (input)="searchClient$.next(extractValueFromEvent($event))" />
      <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="clientStringify | tuiStringifyContent"
        [items]="clients$ | async"></tui-data-list-wrapper>
    </tui-combo-box>
    <button
      tuiButton
      type="button"
      [appearance]="replaceClient ? 'accent' : 'flat'"
      size="m"
      class="tui-island__footer-button"
      (click)="replaceClient = !replaceClient">
      {{ replaceClient ? 'отмена' : 'Замена клиента' }}
    </button>
  </tui-island>

  <tui-island class="tui-row">
    <h3 class="tui-form__header tui-form__header_margin-top_none tui-form__row">Список услуг</h3>
    <p class="tui-island__paragraph">Стоимость: <tui-money [value]="purchaseAmount"></tui-money></p>
    <p class="tui-island__paragraph">Время: {{ durationAmount }} мин.</p>
    <tui-checkbox-labeled class="tui-form__row" [(ngModel)]="chargeOffBonuses" size="l">
      Списать все бонусы
    </tui-checkbox-labeled>
    <div tuiGroup class="tui-form__row" *ngFor="let service of services; index as idx">
      <tui-combo-box
        *tuiLet="listServices$ | async as listServices"
        class="b-form"
        [stringify]="serviceStringify"
        [ngModel]="services[idx]"
        (ngModelChange)="changeServices(idx)">
        Поиск услуги
        <input tuiTextfield placeholder="Поиск по названию" />
        <tui-data-list-wrapper
          *tuiDataList
          [itemContent]="serviceStringify | tuiStringifyContent"
          [items]="listServices | tuiFilterByInputWith : serviceStringify"></tui-data-list-wrapper>
      </tui-combo-box>
      <button
        tuiIconButton
        type="button"
        appearance="outline"
        size="l"
        (click)="removeService(idx)"
        icon="tuiIconCloseLarge"
        class="tui-group__auto-width-item"></button>
    </div>
    <button tuiButton type="button" appearance="flat" size="m" (click)="addService()" class="tui-island__footer-button">
      Добавить услугу
    </button>
  </tui-island>

  <div class="flex-wrap tui-form__row">
    <button tuiButton class="tui-form__button left" (click)="showDialog()">Перенести запись</button>
    <button tuiButton class="tui-form__button center" (click)="save()">Сохранить</button>
    <button tuiButton class="tui-form__button right" appearance="accent" (click)="removeOrder()">Удалить запись</button>
  </div>
</div>

<ng-template let-observer [tuiDialogOptions]="{ label: 'Перезапись', size: 's' }" [(tuiDialog)]="open">
  <tui-input-date class="tui-form__row" [(ngModel)]="day" (ngModelChange)="searchTimes()" [min]="minDay" [max]="maxDay">
    Выбор даты
  </tui-input-date>
  <div tuiGroup class="group tui-form__row">
    <tui-combo-box
      *tuiLet="stations$ | async as stations"
      [stringify]="stationsStringify"
      [(ngModel)]="station"
      (ngModelChange)="changeStation()">
      Поиск станции
      <input tuiTextfield placeholder="Поиск по названию" />
      <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="stationsStringify | tuiStringifyContent"
        [items]="stations | tuiFilterByInputWith : stationsStringify"></tui-data-list-wrapper>
    </tui-combo-box>
    <tui-combo-box
      *tuiLet="listPosts$ | async as posts"
      [stringify]="stationsStringify"
      [(ngModel)]="post"
      (ngModelChange)="changeStation()">
      Поиск поста
      <input tuiTextfield placeholder="Поиск по названию" />
      <tui-data-list-wrapper
        *tuiDataList
        [itemContent]="postStringify | tuiStringifyContent"
        [items]="posts | tuiFilterByInputWith : postStringify"></tui-data-list-wrapper>
    </tui-combo-box>
  </div>
  <tui-input-time *ngIf="times" class="tui-form__row" [items]="times" [(ngModel)]="time">
    Выбор времени
  </tui-input-time>
  <div class="tui-form__buttons tui-form__buttons_align_center">
    <button tuiButton class="tui-form__button" (click)="reOrder()">Перезапись</button>
  </div>
</ng-template>
