<tui-island>
  <form [formGroup]="newsForm">
    <div class="tui-form__row">
      <tui-input formControlName="title">
        Заголовок
        <span class="tui-required"></span>
      </tui-input>
    </div>
    <div class="tui-form__row">
      <tui-text-area formControlName="text">Контент</tui-text-area>
    </div>
    <img class="tui-form__row" *ngIf="urlImage" [src]="urlImage" width="500" height="600" />
    <div class="tui-form__row">
      <tui-input-files
        *ngIf="!control.value"
        accept="image/*"
        [formControl]="control"
        (reject)="onReject($event)"></tui-input-files>

      <tui-files class="tui-space_top-1">
        <tui-file *ngIf="loadedFiles$ | async as file" [file]="file" (removed)="removeFile()"></tui-file>

        <tui-file
          *ngIf="rejectedFiles$ | async as file"
          state="error"
          [file]="file"
          (removed)="clearRejected()"></tui-file>

        <tui-file *ngIf="loadingFiles$ | async as file" state="loading" [file]="file"></tui-file>
      </tui-files>
    </div>
    <div class="flex-wrap tui-form__row">
      <button class="tui-form__button left" tuiButton appearance="primary" (click)="save()">Сохранить</button>
      <button class="tui-form__button right" tuiButton appearance="accent" (click)="remove()">Удалить</button>
    </div>
  </form>
</tui-island>
