<div
  tuiGroup
  class="tui-space_top-5 tui-space_bottom-5"
  [adaptive]="true"
  [collapsed]="true">
  <tui-input
    class="input"
    tuiTextfieldSize="m"
    [tuiTextfieldCleaner]="true"
    [(ngModel)]="search">
    Поиск
  </tui-input>
  <button
    tuiButton
    size="m"
    class="tui-form__button"
    appearance="primary"
    (click)="search$.next(search)">
    Найти
  </button>
  <tui-select
    tuiTextfieldSize="m"
    [(ngModel)]="size"
    (ngModelChange)="size$.next($event)">
    Размер страницы
    <tui-data-list-wrapper *tuiDataList [items]="sizes"></tui-data-list-wrapper>
  </tui-select>
</div>

<tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
  <table
    *ngIf="data$ | async as data"
    tuiTable
    class="table"
    [columns]="columnsTable"
    [tuiSortBy]="sorter$ | async"
    (tuiSortByChange)="sorter$.next('' + $event)"
    [direction]="(direction$ | async) || 1"
    (directionChange)="direction$.next($event)">
    <thead>
      <tr tuiThGroup>
        <th tuiTh *tuiHead="'actions'" [sorter]="null">Действия</th>
        <ng-template ngFor let-column [ngForOf]="columns" let-i="index">
          <th tuiTh *tuiHead="column" tuiSortable>
            {{ infoColumn[i].name }}
          </th>
        </ng-template>
      </tr>
    </thead>
    <tbody
      tuiTbody
      *tuiLet="data | tuiTableSort as sortedData"
      [data]="sortedData">
      <tr tuiTr *ngFor="let item of sortedData">
        <td tuiTd *tuiCell="'actions'">
          <button
            tuiIconButton
            appearance="flat"
            size="s"
            icon="tuiIconEditLarge"
            tuiHint="Редактировать"
            tuiHintDirection="right"
            tuiHintDescribe
            title="Редактировать"
            shape="rounded"></button>
          <button
            tuiIconButton
            tuiHint="Удалить"
            tuiHintDirection="right"
            tuiHintDescribe
            appearance="flat"
            size="s"
            icon="tuiIconRemoveLarge"
            shape="rounded"></button>
          <button
            tuiIconButton
            appearance="flat"
            size="s"
            icon="tuiIconAlertCircleLarge"
            title="Подробнее"
            shape="rounded"></button>
        </td>
        <ng-template ngFor let-column [ngForOf]="columns">
          <td tuiTd *tuiCell="column">
            {{ item[column] }}
          </td>
        </ng-template>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="columns.length + 1">
          <tui-pagination
            class="tui-space_top-5"
            [length]="(total$ | async) || 0"
            [index]="page$.value"
            (indexChange)="page$.next($event)"></tui-pagination>
        </td>
      </tr>
    </tfoot>
  </table>
</tui-loader>
